In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Datafiniti_Womens_Shoes.csv')

In [3]:
data.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [7]:
print(data.columns.values)

['id' 'dateAdded' 'dateUpdated' 'asins' 'brand' 'categories'
 'primaryCategories' 'colors' 'dimension' 'ean' 'imageURLs' 'keys'
 'manufacturer' 'manufacturerNumber' 'name' 'prices.amountMax'
 'prices.amountMin' 'prices.availability' 'prices.color'
 'prices.condition' 'prices.currency' 'prices.dateAdded' 'prices.dateSeen'
 'prices.isSale' 'prices.merchant' 'prices.offer' 'prices.returnPolicy'
 'prices.shipping' 'prices.size' 'prices.sourceURLs' 'sizes' 'sourceURLs'
 'upc' 'weight']

In [10]:
data.shape

(10000, 34)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
id                     10000 non-null object
dateAdded              10000 non-null object
dateUpdated            10000 non-null object
asins                  3 non-null object
brand                  10000 non-null object
categories             10000 non-null object
primaryCategories      10000 non-null object
colors                 2631 non-null object
dimension              117 non-null object
ean                    671 non-null float64
imageURLs              10000 non-null object
keys                   10000 non-null object
manufacturer           527 non-null object
manufacturerNumber     2482 non-null object
name                   10000 non-null object
prices.amountMax       10000 non-null float64
prices.amountMin       10000 non-null float64
prices.availability    434 non-null object
prices.color           10000 non-null object
prices.condition       438 non-null object
prices.currency        10000 non-null object
prices.dateAdded       9223 non-null object
prices.dateSeen        10000 non-null object
prices.isSale          10000 non-null bool
prices.merchant        435 non-null object
prices.offer           121 non-null object
prices.returnPolicy    0 non-null float64
prices.shipping        412 non-null object
prices.size            10000 non-null object
prices.sourceURLs      10000 non-null object
sizes                  10000 non-null object
sourceURLs             10000 non-null object
upc                    9640 non-null object
weight                 299 non-null object
dtypes: bool(1), float64(4), object(29)
memory usage: 2.5+ MB

In [14]:
data.duplicated().sum()

0

In [20]:
data.describe()

                ean  prices.amountMax  prices.amountMin  prices.returnPolicy
count  6.710000e+02      10000.000000      10000.000000                  0.0
mean   7.714302e+11         69.223544         51.131209                  NaN
std    1.847119e+11         19.487286         21.267446                  NaN
min    3.397705e+10          5.870000          4.880000                  NaN
25%    7.276810e+11         59.990000         37.490000                  NaN
50%    8.701910e+11         64.990000         49.990000                  NaN
75%    8.860660e+11         79.990000         59.990000                  NaN
max    8.898850e+11        359.950000        359.950000                  NaN

In [33]:
brands = data['brand'].unique()
print(brands)
print('The total number of brands in the dataset are:'+ str(len(brands)))

['Naturalizer' 'MUK LUKS' 'Soft Ones' 'muk luks' 'Sloggers' "Dr. Scholl's"
 'Genuine Dickies' 'Mo Mo' 'SKECHERS' 'lc lauren conrad' 'FOREVER YOUNG'
 'Unbranded' 'Faded Glory' 'qupid' 'olivia miller' 'Victoria K.' 'Keds'
 'herstar' 'Earth Spirit' 'Unique Bargains' 'lifestride'
 'naturalsoul by naturalizer' 'Lugz' 'lugz'
 'style charles by charles david' 'nyla' 'Daniel Green' 'corkys'
 'IB Non-Slip' 'Silver Lilly' 'ELLIE SHOES' 'SoftWalk' 'Brinley Co.' 'MLB'
 'easy street' 'Danskin Now' 'forever collectibles' 'Carrini' 'Riverberry'
 'journee collection' 'eastland' 'so' 'dolce by mojo moxy' 'under armour'
 'koolaburra by ugg' 'skechers' 'puma' 'adidas' 'new balance' 'rampage'
 'vans' 'croft barrow' 'candies' 'simply vera vera wang' 'apt. 9'
 'jennifer lopez' 'sonoma goods for life' 'soft style by hush puppies'
 'keds' 'Laredo' 'rocky 4eursole' 'ryka' 'dr. scholls' 'Ryka' 'Lifestride'
 'Fergalicious' 'fila' 'a2 by aerosoles' 'henry ferrera' 'andrew geller'
 'nike' 'spring step' 'seven7' 'Brinley Co. Collection' 'madden nyc'
 'Easy Street' 'Nike' 'betula by birkenstock' 'kisses by 2 lips too'
 '2 lips too' 'reef' 'unionbay' 'k-swiss' 'sugar' 'clarks' 'asics'
 'La Sportiva' "Arc'teryx" 'Topo Athletic' 'Chaco' 'Scarpa' 'Soludos'
 'New Balance' 'Birkenstock' 'Splendid' 'Native Shoes' 'Brooks' 'Merrell'
 'Salomon' 'Asics' 'Saucony' 'Red Wing' 'Altra' 'Adidas' 'Frye'
 'Under Armour' 'Adidas Outdoor' 'SeaVees' 'Seychelles Footwear'
 'The North Face' 'On Footwear' 'Hoka One One' 'Mammut' 'Inov 8' 'Salewa'
 'Toms' 'Vans' 'UGG' 'Astral' 'Timberland' 'Olukai' 'KEEN' 'Dansko'
 'Free People' 'Sperry Top-Sider' 'Bogs' 'Lowa' 'Kaanas' 'OTZShoes']
The total number of brands in the dataset are:129

In [34]:
data['categories'].unique()

array(["Clothing,Shoes,Women's Shoes,All Women's Shoes,Heels,Sandals",
       "Clothing,Shoes,Women's Shoes,Women's Casual Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Women's Slippers",
       "Womens Shoes,Clothing,Women's Shoes,Baby & Kids Shoes,Baby & Toddler Shoes,All Womens Shoes,Shoes,All Women's Shoes",
       "MUK LUKS,Womens,Women's Casual Shoes,Clothing,Women's Shoes,Women's Slippers,Slippers,Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Winter Boots,All Women's Shoes,Women's Boots",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Women's Boots",
       "Womens,Shoes,Sandals,MUK LUKS,Clothing,Women's Shoes,All Women's Shoes",
       "Womens Shoes,Clothing,Women's Shoes,All Womens Shoes,Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,All Women's Shoes,Home Improvement,Work Safety Clothing and Equipment",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Women's Casual Shoes,Women's Slippers",
       "Womens,Sneakers,Womens Casual Shoes,Womens Shoes,Clothing,Women's Shoes,Shoes,Athletic Shoes,Skechers,All Women's Shoes",
       "Sneakers,Womens Shoes,Clothing,Work Safety Clothing and Equipment,Shoes,Skechers,All Women's Shoes,Womens,Women's Shoes,Home Improvement,All Womens Shoes,Athletic Shoes,Women's Work & Safety Shoes",
       "Womens,Womens Shoes,Clothing,Women's Shoes,All Womens Shoes,Shoes,Sandals,Skechers,All Women's Shoes",
       "Womens,Clothing,Women's Shoes,Boots,Shoes,Skechers,All Women's Shoes",
       "Sneakers,Women's Athletic Shoes,Womens Shoes,Clothing,Shoes,Skechers,All Women's Shoes,Womens,Women's Casual Shoes,Womens Casual Shoes,Women's Shoes,All Womens Shoes,Athletic Shoes",
       "Womens,Women's Casual Shoes,Sneakers,Womens Casual Shoes,Womens Shoes,Clothing,Women's Shoes,Shoes,Athletic Shoes,Skechers",
       'Womens,Shoes,Boots,LC Lauren Conrad',
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Home Improvement,Work Safety Clothing and Equipment",
       "Women's Casual Shoes,Womens Casual Shoes,Womens Shoes,Clothing,Women's Shoes,Shoes,All Women's Shoes",
       "Clothing,Shoes,Womens Shoes,Womens Casual Shoes,Women's Shoes,Women's Casual Shoes,All Women's Shoes",
       'Womens,Shoes,Sandals,Qupid', 'Womens,Shoes,Boots,Qupid',
       'Womens,Shoes,Boots,Olivia Miller',
       "Clothing,Shoes,Women's Shoes,Women's Casual Shoes,Womens,Boat Shoes,Keds",
       'Womens,Shoes,Pumps,Heels,Herstar',
       'Womens,Shoes,Boots,LifeStride',
       'Womens,Shoes,Sandals,NaturalSoul by naturalizer',
       "Womens,Womens Shoes,Clothing,Women's Shoes,Boys' Shoes,Boots,Lugz,All Womens Shoes,Shoes,All Women's Shoes",
       'Womens,Shoes,Boots,Lugz',
       'Womens,Shoes,Pumps,Heels,Style Charles by Charles David',
       'Womens,Shoes,Sandals,Style Charles by Charles David',
       'Womens,Shoes,Pumps,Heels,NYLA', 'Womens,Shoes,Pumps,Heels,Corkys',
       "Clothing,Shoes,Womens Shoes,Womens Oxford & Loafers,Womens Oxfords,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Boots,Mid-Calf Boots",
       "Clothing,Shoes,Womens Shoes,Womens Comfort,Womens Comfort Boots & Booties,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Women's Dress Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,All Women's Shoes,Women's Wear to Work,Women",
       "Clothing,Shoes,Baby & Kids Shoes,Girls' Boots,Women's Shoes,All Women's Shoes,Girls' Shoes",
       "Clothing,Shoes,Men's Shoes,All Men's Shoes,Women's Slippers,Women's Shoes,All Women's Shoes",
       'Womens,Shoes,Oxfords,Easy Street',
       'Womens,Shoes,Flats,Forever Collectibles',
       "Clothing,Shoes,Women's Shoes,Women's Sandals,Women's Dress Shoes,All Women's Shoes",
       'Womens,Shoes,Pumps,Heels,LifeStride',
       'Womens,Shoes,Boots,Journee Collection',
       'Womens,Shoes,Pumps,Heels,Journee Collection',
       "Womens,Shoes,Pumps,Heels,Journee Collection,Clothing,Women's Shoes,All Women's Shoes,Women's Boots",
       'Womens,Shoes,Sandals,LifeStride', 'Womens,Shoes,Loafers,Eastland',
       "Womens,Shoes,Boat Shoes,Eastland,All Men's Shoes,Men's Shoes,Clothing",
       "Womens,Shoes,Clogs,Mules,Eastland,Women's Casual Shoes,Women's Shoes,Clothing",
       'Womens,Shoes,Boots,Eastland',
       "Womens,Shoes,Clogs,Mules,Eastland,Women's Casual Shoes,Clothing,Women's Shoes",
       'Womens,Shoes,Slippers',
       'Womens,Shoes,Clogs,Mules,Dolce by Mojo Moxy',
       'Womens,Shoes,Athletic Shoes,Sneakers,Under Armour',
       'Womens,Shoes,Boots', 'Womens,Shoes,Flats', 'Shoes,Boots,Womens',
       'Shoes,Boots,Koolaburra by UGG,Womens',
       "Womens,Shoes,Athletic Shoes,Sneakers,Skechers,Slip-ons,Women's Shoes,Clothing,All Women's Shoes",
       'Womens,Shoes,Athletic Shoes,Sneakers,Skechers',
       'Womens,Shoes,Flats,Skechers',
       'Womens,Shoes,Athletic Shoes,Sneakers,PUMA',
       "Womens,Shoes,Athletic Shoes,Sneakers,adidas,Clothing, Shoes & Accessories,Women's Shoes,Athletic",
       'Womens,Shoes,Athletic Shoes,Sneakers,adidas',
       'Womens,Shoes,Athletic Shoes,Sneakers,New Balance',
       "Womens,Shoes,Athletic Shoes,Sneakers,Skechers,Clothing,Women's Shoes,Women's Casual Shoes",
       "Womens,Shoes,Athletic Shoes,Sneakers,Skechers,Clothing,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Athletic Shoes,Sneakers,Skechers",
       "Womens,Shoes,Athletic Shoes,Sneakers,Skechers,Clothing,Women's Shoes,Women's Athletic Shoes",
       'Womens,Rampage', 'Womens,Shoes,Athletic Shoes,Sneakers,Vans',
       'Womens,Shoes,Flats,Croft,Barrow', "Womens,Shoes,Flats,Candie's",
       'Womens,Shoes,Flats,Simply Vera Vera Wang',
       'Womens,Shoes,Pumps,Heels,Croft,Barrow',
       "Womens,Shoes,Boots,Candie's", 'Womens,Shoes,Sandals,Apt. 9',
       'Womens,Shoes,Clogs,Mules,Croft,Barrow',
       'Womens,Shoes,Athletic Shoes,Sneakers,Jennifer Lopez',
       'Womens,Shoes,Boots,Simply Vera Vera Wang',
       'Womens,Shoes,Boat Shoes,Croft,Barrow',
       "Womens,Shoes,Pumps,Heels,Candie's",
       'Womens,Shoes,Pumps,Heels,LC Lauren Conrad',
       'Womens,Shoes,Flats,Jennifer Lopez',
       'Womens,Shoes,Boots,Croft,Barrow',
       'Womens,Shoes,Loafers,Journee Collection',
       'Womens,Shoes,Boots,SONOMA Goods for Life',
       'Womens,Shoes,Loafers,SONOMA Goods for Life',
       'Womens,Shoes,Pumps,Heels,Simply Vera Vera Wang',
       "Womens,Shoes,Sandals,LC Lauren Conrad,Clothing, Shoes & Accessories,Women's Shoes,Sandals & Flip Flops",
       'Womens,Shoes,Sandals,Croft,Barrow',
       'Womens,Shoes,Flats,LC Lauren Conrad',
       'Womens,Shoes,Sandals,SONOMA Goods for Life,Boots',
       'Womens,Shoes,Athletic Shoes,Sneakers,Croft,Barrow',
       'Womens,Shoes,Sandals,SONOMA Goods for Life',
       'Womens,Shoes,Pumps,Heels,Apt. 9',
       'Womens,Shoes,Clogs,Mules,Soft Style by Hush Puppies',
       'Womens,Shoes,Boots,Apt. 9',
       'Womens,Shoes,Athletic Shoes,Sneakers,Keds',
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens Shoes,Shop by Clothing Type,Boots,Cowboy Boots,Womens,Laredo,Women's Boots",
       'Womens,Shoes,Flats,Apt. 9', 'Womens,Shoes,Sandals,Rocky 4EurSole',
       'Womens,Shoes,Flats,NaturalSoul by naturalizer',
       'Womens,Shoes,Athletic Shoes,Sneakers,Ryka',
       "Womens,Shoes,Pumps,Heels,LifeStride,Clothing,Women's Shoes,Women's Dress Shoes",
       "Womens,Shoes,Boots,Dr. Scholl's,Women's Shoes,Clothing,All Women's Shoes",
       'Womens,Shoes,Loafers,NaturalSoul by naturalizer',
       'Womens,Shoes,Flats,LifeStride', 'Womens,Shoes,Loafers,LifeStride',
       "Womens,Shoes,Flats,Dr. Scholl's", 'Womens,Shoes,Boots,Ryka',
       "Womens,Shoes,Boots,Dr. Scholl's",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Athletic Shoes,Sneakers,Ryka",
       "Womens,Shoes,Athletic Shoes,Sneakers,Dr. Scholl's,Clothing,Women's Shoes,All Women's Shoes",
       "Womens,Shoes,Athletic Shoes,Sneakers,Ryka,Clothing,Women's Shoes,Women's Casual Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,Womens,Sandals,LifeStride",
       "Womens,Shoes,Sandals,Ryka,Clothing,Women's Shoes,All Women's Shoes",
       "Womens,Shoes,Sandals,LifeStride,Clothing,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Sandals,LifeStride",
       'Womens,Shoes,Pumps,Heels,NaturalSoul by naturalizer',
       'Womens,Shoes,Sandals,Ryka',
       'Womens,Shoes,Athletic Shoes,Sneakers,NaturalSoul by naturalizer',
       "Womens,Shoes,Pumps,Heels,LifeStride,Clothing,Women's Shoes,Women's Dress Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,Womens,Oxfords,Fergalicious",
       "Womens,Shoes,Athletic Shoes,Sneakers,FILA,Women's Shoes,Clothing,All Women's Shoes",
       'Womens,Shoes,Pumps,Heels,A2 by Aerosoles',
       'Womens,Shoes,Boots,A2 by Aerosoles',
       "Womens,Shoes,Pumps,Heels,A2 by Aerosoles,Women's Shoes,Flats,Comfort",
       "Womens,Shoes,Sandals,A2 by Aerosoles,Clothing,Women's Shoes,All Women's Shoes",
       'Womens,Shoes,Sandals,A2 by Aerosoles',
       'Womens,Shoes,Loafers,A2 by Aerosoles',
       'Womens,Shoes,Clogs,Mules,A2 by Aerosoles',
       'Womens,Shoes,Flats,A2 by Aerosoles',
       'Womens,Shoes,Clogs,Mules,Style Charles by Charles David',
       'Womens,Shoes,Boots,Style Charles by Charles David',
       'Womens,Shoes,Flats,Style Charles by Charles David',
       'Womens,Shoes,Boots,Henry Ferrera',
       "Womens,Shoes,Athletic Shoes,Sneakers,FILA,Clothing,Women's Shoes,All Women's Shoes",
       'Womens,Shoes,Sandals,Soft Style by Hush Puppies',
       'Womens,Shoes,Sandals,Andrew Geller',
       'Womens,Shoes,Athletic Shoes,Sneakers,Nike',
       "Womens,Shoes,Clogs,Mules,Spring Step,Clothing,Women's Shoes,All Women's Shoes",
       "Womens,Shoes,Clogs,Mules,Spring Step,Clothing,Men's Shoes,Men's Casual Shoes,Other Slip-Ons",
       'Womens,Shoes,Sandals,Spring Step',
       "Womens,Shoes,Sandals,Spring Step,Clothing,Women's Shoes,All Women's Shoes,Low Slide Sandals",
       'Womens,Shoes,Flats,Seven7', 'Womens,Shoes,Sandals,Seven7',
       "Womens,Shoes,Boots,Journee Collection,Clothing,Women's Shoes,All Women's Shoes",
       "Womens,Shoes,Pumps,Heels,Journee Collection,Clothing,Women's Shoes,Women's Dress Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,Womens,Pumps,Heels,Journee Collection,All Women's Shoes",
       'Womens,Shoes,Flats,Journee Collection',
       "Womens,Shoes,Boots,Journee Collection,Clothing,Women's Shoes,Women's Boots,Heels",
       'Womens,Shoes,Sandals,Journee Collection',
       'Womens,Shoes,Clogs,Mules,Journee Collection',
       'Womens,Shoes,Boots,madden NYC',
       'Womens,Shoes,Pumps,Heels,madden NYC',
       'Womens,Shoes,Sandals,madden NYC',
       "Womens,Shoes,Athletic Shoes,Sneakers,Nike,Clothing,Women's Shoes,Women's Casual Shoes,Women's Athletic Shoes",
       "Womens,Shoes,Athletic Shoes,Sneakers,Nike,Clothing,Women's Shoes,Women's Casual Shoes",
       "Clothing,Shoes,Women's Shoes,Women's Dress Shoes,Womens,Pumps,Heels,Easy Street,All Women's Shoes",
       "Womens,Shoes,Clogs,Mules,Easy Street,Women's Shoes,Clothing,All Women's Shoes",
       'Womens,Shoes,Clogs,Mules,Easy Street',
       "Womens,Shoes,Pumps,Heels,Easy Street,Clothing,Women's Shoes,All Women's Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Athletic Shoes,Sneakers,Nike,Women's Athletic Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Athletic Shoes,Sneakers,Nike",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens,Athletic Shoes,Sneakers,Nike,Women's Casual Shoes",
       "Clothing,Shoes,Women's Shoes,All Women's Shoes,Womens Shoes,Womens Sandals & Flip Flops,Womens Sport Sandals,Womens,Sandals,Nike",
       'Womens,Shoes,Sandals,Betula by Birkenstock',
       'Womens,Shoes,Boots,Kisses by 2 Lips Too',
       'Womens,Shoes,Pumps,Heels,2 Lips Too',
       'Womens,Shoes,Boots,2 Lips Too',
       "Womens,Shoes,Athletic Shoes,Sneakers,Nike,Clothing,Men's Shoes,Men's Athletic Shoes",
       'Womens,Shoes,Athletic Shoes,Sneakers,madden NYC',
       'Womens,Shoes,Sandals,REEF', 'Womens,Shoes,Flats,Unionbay',
       'Womens,Shoes,Clogs,Mules,Unionbay',
       "Womens,Shoes,Athletic Shoes,Sneakers,K-Swiss,Clothing,Women's Shoes,Women's Casual Shoes",
       'Womens,Shoes,Boots,sugar', 'Womens,Shoes,Pumps,Heels,Rampage',
       "Clothing,Shoes,Womens Shoes,Womens Casual Shoes,Women's Shoes,Women's Casual Shoes,Womens,Athletic Shoes,Sneakers,Skechers,All Women's Shoes",
       'Womens,Shoes,Loafers,Clarks',
       "Womens,Shoes,Athletic Shoes,Sneakers,ASICS,Clothing,Women's Shoes,All Women's Shoes,Sporting Goods,Fitness, Running & Yoga,Women",
       'Womens,Shoes,Athletic Shoes,Sneakers,ASICS',
       "Womens,Shoes,Athletic Shoes,Sneakers,ASICS,Clothing,Women's Shoes,Women's Casual Shoes",
       'Womens,Shoes,Flats,Spring Step',
       "Womens,Shoes,Flats,Spring Step,Clothing,Women's Shoes,All Women's Shoes",
       'Womens,Shoes,Pumps,Heels,Easy Street',
       "Womens,Shoes,Athletic Shoes,Sneakers,Easy Street,Clothing,Women's Shoes,All Women's Shoes",
       'Womens,Shoes,Loafers,Easy Street',
       'Womens,Shoes,Sandals,Easy Street',
       "Womens,Shoes,Sandals,Easy Street,Clothing,Women's Shoes,All Women's Shoes",
       "Womens,Shoes,Sandals,Easy Street,Women's Shoes,Clothing,All Women's Shoes",
       'Womens,Shoes,Sandals,New Balance',
       "Women's Trail Running Shoes,Women's Footwear,Women's Running Shoes",
       "Women's Road Running Shoes,Women's Footwear,Women's Running Shoes",
       "Women's Casual Boots & Shoes,Women's Casual Shoes,Women's Footwear",
       "Women's Red Wing Shoes,Women's Clothing,Women's Shoes",
       "Women's Clothing,Women's Shoes,Women's Red Wing Shoes",
       "Women's Clothing,Women's Shoes,Women's New Balance Shoes",
       "Women's Footwear,Women's Running Shoes,Women's Trail Running Shoes",
       "Women's Footwear,Women's Running Shoes,Women's Road Running Shoes",
       "Women's Footwear,Women's Casual Boots & Shoes,Women's Casual Shoes"],
      dtype=object)

In [36]:
data['primaryCategories'].unique()

array(['Shoes', 'Shoes,Shoes'], dtype=object)

In [37]:
data['prices.currency'].unique()

array(['USD'], dtype=object)

In [38]:
data['prices.isSale'].unique()

array([False,  True])

In [43]:
new_data['prices.amountMin'].describe()

count    10000.000000
mean        51.131209
std         21.267446
min          4.880000
25%         37.490000
50%         49.990000
75%         59.990000
max        359.950000
Name: prices.amountMin, dtype: float64

In [112]:
columns_name = ['brand', 'categories', 'prices.amountMax', 'prices.amountMin', 'prices.color', 'prices.size','prices.isSale']
new_data = data[columns_name]
new_data['brand'] = new_data['brand'].str.lower()

/home/aruna/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [118]:
new_data['price'] = (new_data['prices.amountMax']+new_data['prices.amountMin'])/2

/home/aruna/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [119]:
new_data.columns.values

array(['brand', 'categories', 'prices.amountMax', 'prices.amountMin',
       'prices.color', 'prices.size', 'prices.isSale', 'price'],
      dtype=object)

In [120]:
new_data.head()

,brand,categories,prices.amountMax,prices.amountMin,prices.color,prices.size,prices.isSale,price
0,naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",55.99,55.99,UWomens M Regular,S,False,55.990
1,muk luks,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",47.00,35.25,Grey,6,True,41.125
2,muk luks,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",35.25,35.25,Grey,6,False,35.250
3,muk luks,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",24.75,24.75,Black,6,False,24.750
4,muk luks,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",33.00,30.39,Grey,6,True,31.695

In [123]:
Brand_df = new_data[['brand', 'price']].dropna()
Colors_df = new_data[["prices.color", "price"]].dropna()
Size_df = new_data[["prices.size", "price"]].dropna()
NoNull_df = new_data.dropna()

In [50]:
brand = data['brand'].value_counts()[data['brand'].value_counts() > 50]
brand_names = list(pd.DataFrame(brand).index)
brand_names

['journee collection',
 'lifestride',
 'a2 by aerosoles',
 'easy street',
 'style charles by charles david',
 'so',
 'dr. scholls',
 'croft barrow',
 'nike',
 'new balance',
 'sonoma goods for life',
 'skechers',
 'apt. 9',
 'Nike',
 'simply vera vera wang',
 'SKECHERS',
 'candies',
 'Lifestride',
 'ryka',
 'asics',
 'naturalsoul by naturalizer',
 'madden nyc',
 'spring step',
 'adidas',
 'lc lauren conrad',
 'dolce by mojo moxy',
 'eastland',
 'unionbay']

In [126]:
data_brand = new_data[new_data['brand'].isin(brand_names)]
data_brand_ave = data_brand.groupby('brand')['price'].mean().sort_values(ascending=True)
data_brand_ave

brand
lc lauren conrad                  38.812101
apt. 9                            40.270738
unionbay                          40.894545
so                                42.964514
candies                           44.685312
madden nyc                        45.874821
croft barrow                      50.172524
sonoma goods for life             50.639563
lifestride                        52.113258
dolce by mojo moxy                52.173190
easy street                       52.286368
simply vera vera wang             55.242744
skechers                          61.190610
naturalsoul by naturalizer        61.426682
journee collection                61.831748
a2 by aerosoles                   62.286866
spring step                       62.774810
new balance                       64.531423
ryka                              65.067415
dr. scholls                       66.297804
nike                              67.904526
adidas                            73.650947
style charles by charles david    74.618054
asics                             81.615038
eastland                          86.119018
Name: price, dtype: float64